<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-img-top bg-dark text-center d-flex flex-column align-items-center justify-content-center" style="height: 220px;" role="img">
                    <span class="text-muted text-light order-2">Thumbnail</span>
                    <i class="fas fa-file-image text-light h1"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-img-top bg-dark text-center d-flex flex-column align-items-center justify-content-center" style="height: 220px;" role="img">
                    <span class="text-muted text-light order-2">Thumbnail</span>
                    <i class="fas fa-file-image text-light h1"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-img-top bg-dark text-center d-flex flex-column align-items-center justify-content-center" style="height: 220px;" role="img">
                    <span class="text-muted text-light order-2">Thumbnail</span>
                    <i class="fas fa-file-image text-light h1"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-img-top bg-dark text-center d-flex flex-column align-items-center justify-content-center" style="height: 220px;" role="img">
                    <span class="text-muted text-light order-2">Thumbnail</span>
                    <i class="fas fa-file-image text-light h1"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-img-top bg-dark text-center d-flex flex-column align-items-center justify-content-center" style="height: 220px;" role="img">
                    <span class="text-muted text-light order-2">Thumbnail</span>
                    <i class="fas fa-file-image text-light h1"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-img-top bg-dark text-center d-flex flex-column align-items-center justify-content-center" style="height: 220px;" role="img">
                    <span class="text-muted text-light order-2">Thumbnail</span>
                    <i class="fas fa-file-image text-light h1"></i>
                </div>
                <div class="card-body">
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>