<!-- Carousel wrapper -->
<div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-bs-ride="carousel">
  <!-- Controls -->
  <div class="d-flex justify-content-center mb-4">
    <button class="carousel-control-prev position-relative" type="button" data-bs-target="#carouselMultiItemExample"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next position-relative" type="button" data-bs-target="#carouselMultiItemExample"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  <!-- Inner -->
  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img src="../../img/foto1.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Titulo da Fotografia</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="../../img/foto2.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Titulo da Fotografia</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="../../img/foto3.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Titulo da Fotografia</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img src="../../img/foto4.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Titulo da Fotografia</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="../../img/foto5.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Titulo da Fotografia</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <img src="../../img/foto6.jpg" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">Titulo da Fotografia</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk
                  of the card's content.
                </p>
                <a href="#!" class="btn btn-primary">Visualizar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- Inner -->
</div>
<!-- Carousel wrapper -->